/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --sb-width: 5rem;
  font-family: 'Array', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: aliceblue;
  background-color: #343a40;

}

body.sb-expanded {
  --sb-width: 12.5rem;
}
@keyframes wave {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
/* Typography */
h1 {
    font-size: 2rem;
    font-weight: bolder;
    background: linear-gradient(to bottom, #081c15, #2d6a4f, #40916c, #4ea8de, #80ffdb);
    background-size: 200% 200%;
    font-family: 'Excon', sans-serif;
    -webkit-background-clip: text;
    color: transparent;
    animation: wave 2s ease infinite;
    text-align: center;
    margin-bottom: 0.0rem;

  /* background: linear-gradient(to bottom, #081c15, #2d6a4f, #40916c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* font-size: 1.90rem;
  font-weight: bolder;
  margin-bottom: 1.0rem;
  color: aliceblue; */
  /* font-family: 'Excon', sans-serif;
  font-size: 2.5rem;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #2d6a4f; /* Light outline */
  /* color: transparent; Makes the stroke color dominant */ 
}
h3{
  background: linear-gradient(to bottom, #081c15, #2d6a4f, #40916c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Excon', sans-serif;
  font-size: 2.5rem;
  color: #2d6a4f;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #2d6a4f; /* Light outline */
  color: transparent; /* Makes the stroke color dominant */
  /* writing-mode:vertical-lr;
  font-size: 1.0rem;
  font-weight:bolder;
  margin-bottom: -1.35rem;
  color: aliceblue; */
}
.heading{
  
  gap: 0.25em;
  align-items: center;
}

p {
  margin-bottom: 1.5rem;
}

/* Sidebar */
aside {
  /*overflow-y:scroll;*/
  position: fixed;
  inset: 0 auto 0 0;
  width: var(--sb-width);
  padding: 1rem;
  background: linear-gradient(to bottom, #e0e0e0, #b3b3b3, #808080);
  transition: width 0.5s ease-in-out;
}

nav {
  height: 100%;
}

nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  scroll-behavior: smooth;
}

nav li:last-child {
  margin-top: auto;
}

/* Navigation links */
nav a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 0.875rem;
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
  border-radius: 0.375rem;
  transition: background-color 0.5s, color 0.5s;
}

nav a.active,
nav a:hover,
nav a:focus-visible {
  outline: none;
  color: #036666;
  background-color: #fff;
}

nav a span {
  font-size: 0.875rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sb-expanded nav a span {
  opacity: 1;
  visibility: visible;
}

.sb-expanded aside .bx-chevrons-right {
  transform: rotate(180deg);
}


@media (min-width: 768px) {
  main {
    margin-left: var(--sb-width);
  }
}

/* Main content */
main {
  margin-left: var(--sb-width);
  margin-top: 20px; /* Space for the navbar */
  padding: 20px;
  transition: margin-left 0.5s ease-in-out;
  overflow: auto;
  resize: both;
}

.calendar {
  margin-top: 20px;
}

.time-slots {
  display: flex;
  flex-direction: column;
}


.slot {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.book-btn {
  cursor: pointer;
  background-color: #1b4332; /* Green */
  color: white;
  border: none;
  padding: 5px 10px;
}

button {
  transition: background-color 0.3s ease; /* Smooth transition for button hover */
}

button:hover {
  background-color: #555; /* Change button color on hover */
  color: white; /* Change text color on hover */
}

.auth-buttons {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Styling for Buttons */
.auth-buttons button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.auth-buttons .login-btn:hover {
  background-color: #777;
}

.auth-buttons .signup-btn:hover {
  background-color: #1b4332;
}

label{
  font-family: 'Excon', sans-serif;
}

.label-flex{
  display: flex;
  gap:5em;
}